body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

h1, h2, h3, p {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Page Layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ff6600;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Home Page */
section {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#ChuckPic {
    display: block;
    margin: auto;
    width: 50%; 
    margin-bottom: 30px;
}

/* Random Joke Page */
#categorySelect {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50%;
    max-width: 200px;
    font-size: 16px;
}

#jokeContainer {
    width: 550px;
    height: 200px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jokeContainer p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

#jokeContainer p:last-child {
    margin-bottom: 20px;
}

#getAnotherJoke, #addToFavs {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

#getAnotherJoke:hover, #addToFavs:hover {
    background-color: #ff6600;
}

/* Submit a Joke Page */
#jokeForm {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#jokeInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

#jokeForm button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#jokeForm button[type="submit"]:hover {
    background-color: #ff6600;
}

/* Favorites Page */
#favoritesContainer {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#favoritesContainer p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.remove-button {
    background-color: #903933; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.remove-button:hover {
    background-color: #d05e56; 
    color: white;
}

.favButton {
    background-color: #158758;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.favButton:hover {
    background-color: #2f610b;
}